<div class="container">
  <section class="open_main">
    <div class="open_left">
      <div class="logo">
        <img src="../assets/logo.png" alt="open logo">
      </div>
      <div class="open_tag">
        <h1>We make it Super</h1>
        <h1 class="break">Simple</h1>
        <img src="../assets/collect_img-video.png" alt="">
      </div>
    </div>
    <div class="open_right">
      <div class="menu_items">
        <ul>
          <li class="nav_item">Products</li>
          <li class="nav_item">Solutions</li>
          <li class="nav_item">Pricing</li>
          <li>
            <button class="btn login_btn">Login</button>
          </li>
          <li>
            <button class="btn started">Get Started</button>
          </li>
        </ul>
      </div>
      <div class="open_eligible">
        <img src="../assets/Group 6.svg" alt="">
      </div>
    </div>
  </section>
  <section class="open_second">
    <div class="open_second_left">
      <div class="specs_left">
        <div class="card">
          <div class="spec_img">
            <img src="../assets/GetPaidInstantly.png" alt="">
          </div>
          <h4>Quick cash disbursement</h4>
        </div>
        <div class="card">
          <div class="spec_img">
            <img src="../assets/Lowinterestrate.png" alt="Get Paid Instantly">
          </div>
          <h4>Low-interest rate</h4>
        </div>
        <div class="card">
          <div class="spec_img">
            <img src="../assets/SecurePayments.png" alt="">
          </div>
          <h4>Zero Paperwork</h4>
        </div>
      </div>
      <div class="specs_right">
        <div class="card purple">
          <div class="spec_img">
            <img src="../assets/freelancer_feature_icon_6@1.5x.png" alt="">
          </div>
          <h4>Ace your business finances</h4>
        </div>
        <div class="card">
          <div class="spec_img">
            <img src="../assets/Covid.png" alt="">
          </div>
          <h4>Loans to fight COVID-19</h4>
        </div>
      </div>
    </div>
    <div class="open_second_right">
      <h1>Boost your business</h1>
      <h1 class="break">with Open</h1>
    </div>
  </section>
</div>